body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000;
    background: #F1F1F1;
}
.main-part{
    background: #FFFFFF;
    border : 3px solid #E6E6E6;
    border-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
}

.outer-invisible-box{
    margin:20px;
    margin-top: 0px;
}

/* Top bar */

.top-bar {
    padding: 2px 10px;
}

.top-bar-2 {
    background: #B1BD00;
    height: 15px;
    clear:both;
}

.separator-line{
    margin-top: 2px;
    border-bottom: 1px solid black;
}

.top-bar{
    text-align: right;
}

/*login*/

.login-form input {
    width: 120px;
    font-size: 13px;
    color : #B1BD00;
}

.login-form label{
    margin-left: 15px;
}

.login-form input{
    border: 1px solid #b1bd00;
}

.login-form button {
    font-size: 12px;
}

/* logged in */

.top-bar-label{
    font-weight: bold;
}

.session-info{
    margin: 5px;
}


/* Header */

.header {
    display: flex;
    border: #000;
}

.logo {
    font-size: 28px;
    color: #9bb000;
    font-weight: bold;
}

.options{
    border-top: 2px solid #B1BD00;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #E5E5E5 ;
}

.options a{
    padding: 4px;
    padding-left: 8px;
    background: #F4F5D0;
    border: #FFFFFF solid 1px;
    font-weight: bold;
    text-decoration: none;
    color: #000;

}

.tu-logo {
    font-size: 14px;
    text-align: right;
}

.header-right{
    margin-left: auto;
}

.header-middle{
    text-align: left;
}


/* Navigation */

.nav {
    padding: 5px 20px;
}

.nav a {
    text-decoration: none;
    color: #000;
    margin-right: 5px;
    margin-left: 5px;
    font-weight: bold;
}

/* Content */

.content {
    padding: 20px;
}

.content h1 {
    color: #B1BD00;
    font-size: 18px;
}

.content h2 {
    color: #B1BD00;
    font-size: 15px;
    margin-bottom: auto;
    padding: 3px;
}

.over-grey-header{
    border-top: 1px solid #E8E8E8;
    text-align: right;
    margin-bottom: auto;
    margin-top: auto;
    padding: 3px;
    text-decoration: underline;
}
.header-grey-box{
    margin-top: auto;
    padding: 3px;
    background:#E8E8E8;
    font-weight: bold;
}

.box {
    border: 1px solid #999;
    background: #f8f8ee;
    padding: 10px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

thead{
    background: #E8E8E8;
    font-weight: bold;
}

tr{
    border-top: 1px solid #E8E8E8;
}

td{
    padding: 5px;
}

/* Footer */

.footer {
    margin: 10px;
    margin-left: 20px;
    font-size: 11px;
    color: #333333;
}

.footer a {
    margin-left: 10px;
    color: #333333;

}

.footer img{
    margin-right: 5px;
}

/* Button */
.btn-text{
    background: none;
    border: none;
    padding: 0;
    margin: 0;

    font: inherit;
    color: inherit;
    
    text-decoration: underline;
}

.icon-lock{
    margin-right: 6px;
    margin-left: 6px;
}
