/*Global layout and typography*/

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000;
    background: #F1F1F1;
}

.outer-invisible-box {
    margin: 20px;
    margin-top: 0;
}

.main-part {
    background: #FFFFFF;
    border: 3px solid #E6E6E6;
    border-top: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
}


/*Top bar login*/

.top-bar {
    padding: 2px 10px;
    text-align: right;
}

.top-bar-2 {
    background: #B1BD00;
    height: 15px;
    clear: both;
}

.separator-line {
    margin-top: 2px;
    border-bottom: 1px solid black;
}

.top-bar-label {
    font-weight: bold;
}

.session-info {
    margin: 5px;
}


/*Login form */

.login-form input {
    width: 120px;
    font-size: 13px;
    border: 1px solid #B1BD00;
}

.login-form label {
    margin-left: 15px;
}

.login-form button {
    font-size: 12px;
}


/* Header and layout structure*/

.header {
    display: flex;
}

.header-middle {
    text-align: left;
}

.header-right {
    margin-left: auto;
}

.logo {
    font-size: 28px;
    color: #9BB000;
    font-weight: bold;
}

.tu-logo {
    font-size: 14px;
    text-align: right;
}


/*Sidebar options */

.options {
    display: flex;
    flex-direction: column;
    border-top: 2px solid #B1BD00;
    border-bottom: 1px solid #E5E5E5;
}

.options a {
    padding: 4px 0 4px 8px;
    background: #F4F5D0;
    border: 1px solid #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.options .sub-opt-bar {
    background-color: #FFFFFF;
    padding-left: 20px;
    border-top: 1px solid #E2E2E2;
}


/*Main navigation bar*/

.nav {
    padding: 5px 20px;
}

.nav a {
    text-decoration: none;
    color: #000;
    margin: 0 5px;
    font-weight: bold;
}

.nav .not-used-nav {
    color: #BDBDBD;
}


/*Main content area*/

.content {
    padding: 20px;
}

.content h1 {
    color: #B1BD00;
    font-size: 18px;
}

.content h2 {
    color: #B1BD00;
    font-size: 15px;
    margin-bottom: auto;
    padding: 3px;
}

.over-grey-header {
    border-top: 1px solid #E8E8E8;
    text-align: right;
    padding: 3px;
    text-decoration: underline;
}

.header-grey-box {
    padding: 3px;
    background: #E8E8E8;
    font-weight: bold;
}


/* Informational boxes*/

.box-with-border {
    border: 1px solid #999;
    background: #F8F9ED;
    padding: 10px;
}

.box-without-border {
    background: #F8F9ED;
    padding: 10px;
}


/*Tables */

table {
    border-collapse: collapse;
}

thead {
    background: #E8E8E8;
    font-weight: bold;
}

tr {
    border-top: 1px solid #E8E8E8;
}

td {
    padding: 5px;
}


/*Footer*/
.footer {
    margin: 10px 0 0 20px;
    font-size: 11px;
    color: #333333;
}

.footer a {
    margin-left: 10px;
    color: #333333;
}

.footer img {
    margin-right: 5px;
}



/*Text-style buttons and icons*/

.btn-text {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}

.icon-lock {
    margin: 0 6px;
}
